#main {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

#grid_section {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px 50px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
    margin-top: 50px;
    margin: 0 auto;
    div {
        height: 100px;
        width: 100px;
    }
    #section1 {
        background-image: url(../images/sect1.jpg);
        background-position: center;
        
        
        filter: blur(4px);
        transition: all .4s ease-in-out;
        &:hover {
            filter: blur(0px);
        }
    }
}

#footer_section {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    
}